.btn{
    padding:15px 20px;
    background-color:#302a36;
    border:none;
    display:block;
    margin: auto;
    box-shadow: -2px 2px grey;
    &:active{
        transform: scale(1.1);
        text-decoration: underline;
    }
}