<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liro Documentation</title>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="nav-container">
            <h1 class="logo">Liro</h1>
    <nav class="nav">
        <ul>
            <li class="nav-link"> <a href="#what"> What is Liro </a> </li>
            <li class="nav-link"><a href="#features">Features</a></li> </a></li>
            <li class="nav-link"><a href="#invite">Invite</a></li>
        </ul>
    </nav>
    </div>
    </div>
    <main class="doc">
        <section id="what" class="what">
            <header>What is Liro?</header>
            <p>
                Liro is a discord bot which follows in the footsteps of <a href="https://github.com/tvdhout/Lichess-discord-bot/" target="_blank">Lichess Bot</a> without necessarily aiming to replace it.
                The main pain point that this bot is trying to solve is automating the role assignment for denizens of the IM Eric Rosen discord server.
                The project also aims to increase rating support to not only lichess accounts, but also chess.com accounts.
            </p>
        </section>
        <section id="features" class = "features">
            <header>Liro has multiple features including..</header>
            <ul>
                <li>Application Commands</li>
                <li>Prefix Commands</li>
                <li>Automatic Role Detection (heuiristics based)</li>
                <li>Automatic role assignment based on ratings </li>
                <li>OAuth account verification for lichess</li>
                <li>Public dashboard</li>
            </ul>
        </section>
        <section id="invite" class="invite">
            <header>Invite Liro</header>
            <button class="btn">Invite Liro!</button>
        </section>
    </main>
</body>
</html>
